.summary-feild {
  border-bottom: solid #777778;
  background-color: #f7f8fa;
  height: 3rem;
  width: 100%;
}
.textarea-feild {
  border-bottom: solid #777778;
  background-color: #f7f8fa;
  height: 6rem;
  width: 100%;
}
